USE [master]
GO
CREATE DATABASE [LUGSegundoParcial]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LUGSegundoParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LUGSegundoParcial]
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 1/11/2024 09:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CURSO] [varchar](100) NOT NULL,
	[PROFESOR] [varchar](100) NOT NULL,
	[HORARIO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CURSO] PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTUDIANTE]    Script Date: 1/11/2024 09:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDIANTE](
	[ID_ESTUDIANTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[PROMEDIO_ACTUAL] [decimal](18, 0) NOT NULL,
	[ID_CURSO] [int] NOT NULL,
 CONSTRAINT [PK_ESTUDIANTE] PRIMARY KEY CLUSTERED 
(
	[ID_ESTUDIANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CURSO] ON 

INSERT [dbo].[CURSO] ([ID_CURSO], [NOMBRE_CURSO], [PROFESOR], [HORARIO]) VALUES (1, N'PROGRAMACION ORIENTADA A OBJETOS', N'JUAN PEREZ', N'LUNES 18:00 A 21:00 HS')
INSERT [dbo].[CURSO] ([ID_CURSO], [NOMBRE_CURSO], [PROFESOR], [HORARIO]) VALUES (4, N'LENGUANJES DE ULTIMA GENERACION', N'PEDRO RODRIGUEZ', N'MARTES DE 19:00 A 23:00 HS')
INSERT [dbo].[CURSO] ([ID_CURSO], [NOMBRE_CURSO], [PROFESOR], [HORARIO]) VALUES (5, N'DESARROLLO Y ARQUITECTURA DE SOFTWARE', N'LAUTARO GONZALEZ', N'VIERNES DE 19:00 A 22:00 HS')
SET IDENTITY_INSERT [dbo].[CURSO] OFF
GO
ALTER TABLE [dbo].[ESTUDIANTE]  WITH CHECK ADD  CONSTRAINT [FK_ESTUDIANTE_CURSO] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSO] ([ID_CURSO])
GO
ALTER TABLE [dbo].[ESTUDIANTE] CHECK CONSTRAINT [FK_ESTUDIANTE_CURSO]
GO
USE [master]
GO
